/** Add css rules here for your application. */

/*============================================== Custom GWT styles ===================================================*/

.gwt-HorizontalSplitPanel .hsplitter {
	background-color: #e3dede;/*
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;*/
	cursor: e-resize;
	cursor: col-resize;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
	cursor: default;
	padding-left: 4px;
	padding-right: 4px;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #fed789;
	padding-left: 4px;
	padding-right: 4px;
}

.gwt-DialogBox {
	border: 1px solid #666666;
	background-color: #e3dede;
}

.gwt-DialogBox .Caption {
	color: white;
	background-color: #22aae2;
	padding-left: 3px;
	cursor: move;
}

.gwt-DialogBox .DialogContent {
	padding: 3px;
}


/*============================================= TitledPanel Styles ===================================================*/

.TitledPanel .TitleText {
	padding-left: 5px;
	background-color: #e3dede;
}

.TitledPanel .Content {
	border: 1px silver inset;
}

.TitledPanel .Toolbar .ToolButton {
	margin-left: 2px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	width: 22px;
	height: 22px;
}

.TitledPanel .Toolbar .ToolButton-up-hovering {
	font-weight: bold;
}

.TitledPanel .Toolbar .ToolButton-up-disabled {
	cursor: default;
}

.TitledPanel .Toolbar .ToolButton-up-disabled .html-face {
	color: gray;
}


/*============================================= TitledPanel Styles ===================================================*/

.CenterPanel {
}


/*===================================== GoogleLikeProgressIndicator Styles ===========================================*/

.GoogleLikeProgressIndicator {
}

.GoogleLikeProgressIndicator .Message {
}

/*============================================= LoginPane Styles ===================================================*/

.LoginPane {
}

.LoginPane .MessageLabel {
}

.LoginPane .Form {
}

.LoginPane .Form .FieldLabel {
}


/*============================================== MainPane Styles =====================================================*/

.MainPane {
}


/*=============================================== Header Styles ======================================================*/

.HeaderPane {
}

.HeaderPane .Title {
}

.HeaderPane .LogoutButton {
    margin-right: 3px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


/*=========================================== StatusBarPane Styles ===================================================*/

.StatusBarPane {
}

.StatusBarPane .MessageLabel {
}

/*============================================== TaskPane Styles =====================================================*/

.TaskPane {
}

.TaskPane .TableHeader {
	background-color: #e3dede
}

.TaskPane .TaskRow {
	cursor: default;
}

.TaskPane .TaskRow-disabled {
    color: silver;
    text-decoration: line-through;
}

.TaskPane .TaskRow-selected {
	background-color: #fed789;
}

.TaskPane .PriorityLabel-normal {
	color: blue;
}

.TaskPane .PriorityLabel-high {
	color: red;
}

.TaskPane .PriorityLabel-low {
	color: orange;
}

/*============================================ CategoryPane Styles ===================================================*/

.categoryRow {
	cursor: default;	
}			

.selectedCategoryRow {
	background-color: #FEF5CA;
}






